/* Container */

#tab-form {
	margin: 0 auto;
}


/* Typography */ 

a { color: #293896; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 500;
}

.finder_body {
	font-family: 'Helvetica', 'Hind', sans-serif;
}

.panel-primary>.panel-heading {
	background-color: #009edb;
	border-color: #009edb;
}

/* Search Fields */

.btn-primary {
	background-color: #293896;
	border-radius: 0;
}

/* Search Results */

.label {
	border-radius: 5em;
}

.label-default {
	background-color: #acc2cf;
}

.text-muted {
	color: #676767;
}

/* Responsive Adjustments */

/* Mobile*/
@media screen and (max-width: 426px) {
	.container-fluid { margin-top: 60px; }

	#finder_map_paging { top: 110px; }
}
